<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div>
    <div>First Name: {{ person.first_name }}</div>
    <div>Last Name: {{ person.last_name }}</div>
    <div>Email: {{ person.email }}</div>
    <div>
        <img src="{{ person.profile_pic.url }}">
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
</div>